<div style="text-align: center">
	<h3>
		<span class="label label-success">
			اطلاعات سال های ثبت شده در سایت
		</span>
	</h3>
</div>
<br>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>عنوان</th>
			<th>مقدار</th>
			<th> - </th>
		</tr>
	</thead>

	<tbody>
		<% @configs.each do |config| %>
		<tr>
			<td> <%= config.key %> </td>
			<td> <%= config.value %> </td>
			<td> <%= link_to 'ویرایش', edit_config_path(config) %> 
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'تنظیم جدید', new_config_path ,:class =>'btn btn-success pull-left'%>
