<div class="post">
	<div class="post-body">
		<p class="clearfix">
			<span class="pull-right">
				<small class="mr-sm">
					<%= download.created_at.to_jalali.strftime("%A %d %B %Y") %>
				</small>
			</span>
		</p>
		<h4>
			<%= link_to download do %>
			<%= download.title %>
			<%end%>
		</h4>
		<p>
			<%= download.desc.gsub(/\n/, '<br/>').html_safe %>
		</p>
    <% if download.file?%>
          <%=  link_to 'دریافت فایل', download.file_url,:target=>'_blank',:class=>'btn btn-success',:id=>'post-file'%>
    <% end %>
	</div>
</div>
<br>
<% if user_signed_in? and current_user.is_admin %>
<span class="pull-left">
	<%= link_to 'Edit', edit_download_path(download) ,:class => 'btn btn-success  btn-xs' %> 
	<%= link_to 'Destroy', download,:class => 'btn btn-danger  btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
<% end %>


<br>
<br>