<%= form_for download,html: { multipart: true , :class =>'card' } do |f|  %>
  <% if download.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(download.errors.count, "error") %> prohibited this download from being saved:</h2>

      <ul>
      <% download.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title ,:class =>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_area :desc, id: :download_desc  ,:class => 'form-control'%>
  </div>
  
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>