 <div class="student-card">
 	<div class="row">
 		<div class="col-md-8 col-xs-8 col-lg-8 col-sm-8">
 			<div class="student-info">
 				<label>نام:</label>
 				<%= student.fname %>
 				<br>
 				<label>نام خانوادگی:</label>
 				<%= student.lname %>
 				<br>
 				<label>کلاس:</label>
 				<%= student.class_name %>
 				<br>
 				<label>شماره لیست:</label>
 				<%= student.class_no %>
 				<br>
 				<label>امتیاز:</label>
 				<span class='badge badge-warning'><%= student.points %></span>
 			</div>
 		</div>
 		<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
 			<div class="student-avatar">
 				<%= link_to student  do %>
 				<% if student.avatar? %>
 				<%= image_tag student.avatar %>
 				<% else %>
 				<%= image_tag ('user_placeholder.png')%>
 				<% end %>
 				<% end %>
 			</div>
 		</div>
 	</div>
 </div>
 <br>
 <br>
 <% if user_signed_in? and current_user.is_admin %>
 <%= link_to 'Edit', edit_student_path(student) ,:class => 'btn btn-success  btn-xs' %>
 <%= link_to 'Destroy', student,:class => 'btn btn-danger  btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %>

