<div class="card">
	<%= form_tag ({:controller =>'students',:action=>'index'}) ,{:multipart => true,:method => 'get'} do %>
	<%= collection_select :year, :id, Year.order('created_at DESC'), :id, :name %>
	<%= radio_button_tag :class_name ,'الف' ,@class_name == 'الف' %>
	<label>کلاس الف</label>
	<%= radio_button_tag :class_name ,'ب' ,@class_name  == 'ب'%>
	<label>کلاس ب</label>
	<%= submit_tag("جست و جو",:class=>'btn btn-success pull-right') %>
	<% end %>
</div>

<% @students.each do |student| %>
<%= render 'student_card', :student => student %>
<% end %>

