	<%= form_tag ({:controller =>'students',:action=>'import',:method => :post}) ,{:multipart => true} do%>
	<%= file_field '',:file  ,:id =>'file'%>
	<%= button_tag  type: 'submit' do%>
	<i class="upload icon"></i>
	بروز رسانی لیست دانش آموزان
	<% end %>
	<%end%>
	<%= render 'form', student: @student %>
