<%= render 'student_card', :student => @student %>
<!-- <div style="text-align: center">
  <h1>
    <span class="label label-success">
      نشان های
      <%= @student.get_cred %>
</span>
</h1>
</div> -->
<!--% @badges.each do |badge| %-->
    <!--%= render 'badges/badge_card', :badge => badge ,:studentBadges=>@badges%-->
<!--% end %-->