<div class="badge-card">
  <div class="row">
    <div class="col-md-8 col-xs-8 col-lg-8 col-sm-8">
      <div class="badge-info">
        <label>نشان</label>
        <%= badge.name %>
        <br>
        <label>امتیاز :</label>
        <span class='badge badge-warning'><%= badge.price %></span>
        <br>
        <%= badge.description %>
        <br>
        <br>
        <% if user_signed_in? and !current_user.is_admin %>
            <% unless studentBadges.include?(badge) %>
                <%= link_to add_badge_path(:id => current_user.get_student.id, :b_id => badge.id),
                            :method =>'POST' ,:class => 'btn btn-success' do %>
                    <i class="fa fa-money" aria-hidden="true"></i>
                    خرید
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
      <div class="badge-pic">
        <%= link_to badge  do %>
            <%= image_tag badge.image %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<% if user_signed_in? and current_user.is_admin %>
    <span class="pull-left">
	<%= link_to 'Edit', edit_badge_path(badge) ,:class => 'btn btn-success  btn-xs' %>
      <%= link_to 'Destroy', badge,:class => 'btn btn-danger  btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
<% end %>