<div class="card">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name),html:{:class=>'form-horizontal'}) do |f| %>
	<div class="form-group">
		<div class="col-sm-10">
			<%= f.text_field :username, autofocus: true,:class=>'form-control',:placeholder=>'Username' %>
		</div>
		<label for="inputEmail3" class="col-sm-2 control-label">نام کاربری</label>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<%= f.password_field :password, autocomplete: "off" ,:class=>'form-control',:placeholder=>'Password'%>
		</div>
		<label for="inputPassword3" class="col-sm-2 control-label">گذرواژه</label>
	</div>
	<div class="form-group">
		<div class=" col-sm-10">
			<%= f.submit "ورود" ,:class =>'btn btn-success btn-block'%>
		</div>
	</div>
	<% end %>
</div>
<%= render "devise/shared/links" %>