<div class="post">
	<a href="#">
		<%= image_tag post.image %> 
	</a>
	<div class="post-body">
		<p class="clearfix">
			<span class="pull-right">
				<small class="mr-sm">
					<%= post.created_at.to_jalali.strftime("%A %d %B %Y") %>
				</small>
			</span>
		</p>
		<h4>
			<%= link_to post do %>
			<%= post.title %>
			<%end%>
		</h4>
		<p>
			<%= post.content.gsub(/\n/, '<br/>').html_safe %>
		</p>
    <% if post.file?%>
          <%=  link_to 'دریافت فایل', post.file_url,:target=>'_blank',:class=>'btn btn-success',:id=>'post-file'%>
    <% end %>
	</div>
</div>
<br>
<% if user_signed_in? and current_user.is_admin %>
<span class="pull-left">
	<%= link_to 'Edit', edit_post_path(post) ,:class => 'btn btn-success  btn-xs' %> 
	<%= link_to 'Destroy', post,:class => 'btn btn-danger  btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
<% end %>


<br>
<br>