/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 */


body
{
	/*background-color: #f5f5f5 !important;*/
	padding-top: 130px;
    font-family: "BYekan","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 70px;
    background: url('bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.card 
{
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0 ,0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	max-width:100%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}

.badge-warning{
    background-color: #e06617;
}

.sidebar{
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0 ,0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: #fff;
	font-size: 2rem;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

.sidebar a{
	text-decoration: none;
	color: #444;
}
.sidebar div{
	border-bottom: 1px solid black;
	padding: 10px;
}

.sidebar div :hover{
	color: red;
}

.sidebar :last-child{
	border: none;
}