.post{
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0 ,0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	max-width:100%;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #fff;
	direction: rtl;
	text-align: right;
	border-radius: 5px;
}
.post-body{
	padding: 20px;
}
/*--For blog post---*/
.post{
	transition: all 0.4s ease-in-out;
}
.post a {
	outline: none!important;
	color: #FFC107;
	text-decoration: none;
}
#post-file {
    color:#fff;
}
.post p {
	color: #727272;
}
.post img{
	width: 100%;
}