.student-card
{
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0 ,0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	max-width:100%;
	margin: 0 auto;
	background-color: #fff;
	direction: rtl;
	text-align: right;
	border-radius: 5px;
	margin-top: 30px;
}
.student-avatar img
{
	width: 100%;
	object-fit: cover;
}
.student-info
{
	padding: 20px;
}