<div style="text-align: center">
	<h3>
		<span class="label label-success">
			اطلاعات سال های ثبت شده در سایت
		</span>
	</h3>
</div>
<br>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>سال تحصیلی</th>
			<th> تعداد دانش آموزان</th>
			<th> مجموع امتیاز دانش آموزان</th>
		</tr>
	</thead>

	<tbody>
		<% @years.each do |year| %>
		<tr>
			<td> <%= year.name %> </td>
			<td> <%= year.students.count %> </td>
			<td> <%= year.students.sum(:points) %> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'سال تحصیلی جدید', new_year_path ,:class =>'btn btn-success pull-left'%>
