<!DOCTYPE html>
<html>
<head>
	<title>Minecraft</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application'%>
	<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<div class="container-fluid">
		<div class="col-xs-8 col-sm-8 col-md-offset-2 col-md-6 col-lg-offset-2 col-lg-6">
			<%= yield %>
			<br>
		</div>
		<div class="col-md-offset-2 col-lg-offset-2 col-md-2 col-xs-4 col-lg-2 col-sm-4">
			<div class="sidebar">
				<% if user_signed_in? and !current_user.is_admin %>
				<div>
					<%= link_to current_user.get_student ,:class=>'btn btn-success' do%>
					<i class="fa fa-user-circle" aria-hidden="true"></i>
					صفحه شخصی من
					<% end %>
				</div>
				<% end %>
				<div>
					<%= link_to root_path do %>
					<i class="fa fa-home" aria-hidden="true"></i>
					خانه
					<% end %>
				</div>
				<div>
					<%= link_to lessons_path do %>
					<i class="fa fa-book" aria-hidden="true"></i>
					دروس
					<% end %>
				</div>
				<div>
					<%= link_to downloads_path do %>
					<i class="fa fa-download" aria-hidden="true"></i>
					دانلود ها
					<% end %>
				</div>
				<div>
					<%= link_to students_path do %>
					<i class="fa fa-users" aria-hidden="true"></i>
					دانش آموزان
					<% end %>
				</div>
<!-- 				<div>
					<%= link_to badges_path do %>
					<i class="fa fa-certificate" aria-hidden="true"></i>
					نشان ها
					<% end %>
				</div> -->
				<% if user_signed_in? %>
				<% if current_user.is_admin %>
				<div>
					<%= link_to new_post_path do %>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					پست جدید
					<% end %>
				</div>

				<div>
					<%= link_to new_download_path do %>
					<i class="fa fa-download" aria-hidden="true"></i>
					دانلود جدید
					<% end %>
				</div>

				<div>
					<%= link_to new_lesson_path do %>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					درس جدید
					<% end %>
				</div>
				<div>
					<%= link_to new_student_path do %>
					<i class="fa fa-address-card" aria-hidden="true"></i>
					دانش آموز جدید
					<% end %>
				</div>
				<div>
					<%= link_to new_badge_path do %>
					<i class="fa fa-life-ring" aria-hidden="true"></i>
					نشان جدید
					<% end %>
				</div>
				<div>
					<%= link_to years_path do %>
					<i class="fa fa-cog" aria-hidden="true"></i>
سال های تحصیلی
					<% end %>
				</div>
				<div>
					<%= link_to configs_path do %>
					<i class="fa fa-cog" aria-hidden="true"></i>
					تنظیمات
					<% end %>
				</div>
				<% end %>
				<div>
					<%= link_to destroy_user_session_path ,:method => 'delete' do %>
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					خروج
					<% end %>
				</div>
				<% else %>
				<div>
					<%= link_to new_user_session_path  do %>
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					ورود
					<% end %>
				</div>
				<%end%>

			</div>
		</div>
	</div>
</body>
</html>

